html, body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* udělat více zajímavé fonty a vyhrát si s tím */
    position: relative;
    background-color: #0d2b23; /* upravit dle stránky s banner */
    scroll-behavior: smooth;
    min-height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    /* margin-top: -5px; 
    margin-bottom: -5px;*/
    padding: 0;
    overflow: hidden;
    background-color: #0a211b;
  }
  

li {
    float: left;
    display: flex;
    align-items: center; /* Vertikálně je zarovná na střed */
}

li a {
    display: block;
    color:#23755f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    cursor:pointer;
    user-select: none;
}

li a:hover {
    background-color: #06120e;
}

.icon-nav {
    height: 35px;
    width: auto;
    margin: -5px;
    margin-bottom: -9px;

}

.mega-nav {
    height: 21px; /* Výška obrázku */
    width: auto; /* Šířka obrázku se přizpůsobí automaticky */
    vertical-align: middle;
    margin-left: 5px;
}


.banner {
    width: 100%;
    height: 520px;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.5;
    filter: blur(2px);
}

.headtext {
    color: #1c6450;
    -webkit-text-stroke: 2px #164d3d;
    font-size: 85px;
    position: absolute;
    top: 100px;
    left: 20px;
}
/*
.bottom {
    width: 100%;
    height: auto;
    bottom: -4px;
    position: relative;
}
*/
footer {
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(0deg, rgba(8,50,66,1) 0%, rgba(13,43,35,1) 85%);
    text-align: center; /* Zarovnání textu a ikon na střed */
    display: block;
}

footer p {
    color: #1c6450;
    font-size: 20px;
    margin: 10px 0;
}

.footer-icon {
    margin-top: 5px;
}

.footer-icon a {
    display: inline-block;
    margin: 0 10px;
}

.footer-icon img {
    width: 40px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.footer-icon img:hover {
    transform: scale(1.1);
}

.category {
    color: #175342;
    -webkit-text-stroke: 2px #123c30;
    position: relative;
    font-size: 45px;
    text-align: center;
}

.categoryp {
    text-align: center;
    padding: 0 120px;
}

.tuticonjob {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tuticonjob img {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.spoiler {
    color: transparent;
    background-color: #0a211b;
    transition: color 0.3s ease;
}

.spoiler:hover {
    color: #1c6450;
}

p {
    color: #1c6450;
    font-size: 25px;
    text-align: center;
}

.krts-story {
    padding: 0 300px;
}

hr {
    background-color: #0a211b;
    width: 100%;
    height: 4px;
    border: none;
}

#myDIV {
    width: 25vw;
    padding: 10px;
    background-color: #0a211b;
    position: absolute;
    top: 10vh;
    left: 35vw;
    display: none;
    color: #1c6450;
    outline: 3px solid #06120e;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .headtext {
        font-size: 8vw;
        top: 12vw;
        left: 17vw;
    }
}

@media (max-width: 480px) {
    .headtext {
        font-size: 10vw;
    }

    li a {
        font-size: 14px;
    }
}
